
.bstabs-search label {
	width: 140px;
	display: block;
	float: left;
}

.bstabs-search input {
	padding-top: 1px;
	padding-bottom: 1px;
}

.bstabs-search .att {
	padding-top: 3px;
}

.bstabs {
	margin-top: 20px;
	width: 100%;
	border: 1px solid #e0e0e0;
	border-collapse: collapse;
}

.bstabs th {
	background-color: #f9f9f9;
	border: 1px solid #e0e0e0;
}

.bstabs td {
	border: 1px solid #e0e0e0;
}
